.App-body {
  font-size: 0.8rem;
  height: 10em;
  margin: 3em;
}
.App-body p {
  margin-bottom: 1em;
}
.App-body button {
  background-color: transparent;
  border: 0.1em solid gray;
}
.App-body > * {
  margin-inline-end: 0.8em;
}
.App-body input {
  border: 0.1em solid rgb(180, 178, 178);
  padding: 0.2em;
}
