.Notifications {
  padding: 1em;
  border: 2px dashed red;
  position: absolute;
  top: 40px;
  right: 1.9em;
  width: 30vw;
  z-index: 10;
}

.menuItem {
  font-size: 0.8rem;
  text-align: end;
  padding-right: 1.2em;
}

li[data-notification-type='default'] {
  color: blue;
}

li[data-notification-type='urgent'] {
  color: red;
}
